<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vacation Manager</title>
    <link href="css/createTeam.css" rel="stylesheet" type="text/css">
    <script src="js/register.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="../static/css/usersInfo.css">
</head>
<body>

    <div class="navbar">
        <form action="/unassignedPage" class="button3">
            <button class="btn">Home</button>
        </form>

        <form action="/joinTeamPage" class="button3">
            <button class="btn">Join a team</button>
        </form>

        <form action="/logout" class="button">
            <button class="btn">LOG OUT</button>
        </form>
    </div>

    <br>
    <br>
    <br>

    <center>
        <h2 class="heading">CREATE A TEAM</h2>
    </center>

    <form action="/createTeam" method="post" class="create-form">
        <label for="teamName" style="display: block;">
          <p class="label-txt">ENTER TEAM NAME</p>
          <input id="teamName" name="teamName" type="text" class="input" style="color: white" required>
          <div class="line-box">
            <div class="line"></div>
          </div>
        </label>
        <button type="submit" class="create-button">create</button>
    </form>

</body>
</html>