<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vacation Manager</title>
    <link href="css/developerPage.css" rel="stylesheet" type="text/css">
    </head>
<body>

    <div class="navbar">
        <form action="goToVacationRequestsPage" class="button3">
            <button class="btn">Make a vacation request</button>
        </form>

        <form action="goToVacationRequestsPage" class="button3">
            <button class="btn">View team information</button>
        </form>

        <form action="logout" class="button">
            <button class="btn">LOG OUT</button>
        </form>
    </div>

    <center><h1 th:text="${getLoggedUser.nickname}"></h1></center>





</body>
</html>