<!DOCTYPE html>
<html lang="en">
<head>
    <link href="css/main.css" rel="stylesheet" type="text/css">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Vacation Manager</title>
</head>
<body>

    <center><h2> Vacation Manager </h2></center>

    <div class="vertical-center">
        <center>
            <form action="/goToLoginPage">
                <button class="login-button">LOGIN</button>
            </form>

            <form action="/goToRegisterPage">
                <button class="register-button">REGISTER</button>
            </form>
        </center>
    </div>

</body>
</html>