<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Vacation Manager</title>
    <link href="../static/css/login.css" rel="stylesheet" type="text/css">
</head>
<body>

<h2>LOGIN</h2>

<table>
    <tr>
        <td><h4>Username: </h4></td>
        <td><h4 th:text="${user.nickname}"></h4></td>
    </tr>
    <tr>
        <td><h4>Password: </h4></td>
        <td><h4 th:text="${user.password}"></h4></td>
    </tr>
</table>


</body>
</html>